body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;   /* dark background */

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  background: #1e293b;  /* dark card */
  color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

input {
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 8px 14px;
  border-radius: 5px;
  border: none;
  background: #38bdf8;
  color: black;
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}
